<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>

<body>

  <body>
    <header class="headerBack">
      <nav class="navbar navbar-default  backgr">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="">
                <a href="#"> <button class="btn btn-primary">PERFIL</button>   
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li>
                <a class="" href="index2.html"> <button class=" btn btn-warning">HOME</button>  </a>
              </li>
              <li style=" width:150px;margin-left:55%;margin-top:-18%;" class="close">
                <a href="#" > <button class=" btn btn-danger">SALIR</button> </a>

              </li>
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar amigos">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>

    <section class="container-fluid profileBody">
      <div class="row profile">
        <div class=" contProfile col-xs-12 col-md-8 ">
          <div class=" col-xs-12 col-md-8 perfilImagecont thinking">
            <p>
              <img class="small" src="../assets/images/perfilSmall.jpg" alt="">
            </p>
            <p class="name paragraph"></p>
            <p class="directionMail paragraph hidden-xs"></p>
            <ul class="ulProfile">

              <li class="listProfle" role="presentation">
                <a href="#">Informacion</a>
              </li>
              <li class="listProfle" role="presentation">
                <a href="perfilfotos.html">Fotos</a>
              </li>
              <li class="listProfle" role="presentation">
                <a href="#" data-toggle="modal" data-target="#myModal">Amigos</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </section>

    <div class="container">

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Tus Amigos.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <section class="container">
      <div class="row">
        <div class="formText col-md-8">
          <textarea type="text" size="150" maxlength="150" value="que estas pensando?" name="nombre" rows="5"></textarea>
          <div>
            <label class="picturelabel" for="picture">
              <input id="picture" class="linkFoto hidden" type="file">
              <i  id="file" class="fa fa-picture-o" aria-hidden="true"></i>
            </label>
            <button class="btn btn-primary">Postear</button>
          </div>
        </div>
        <div class="formText col-md-8" style="display:none">
          <input style="margin-top:5%;margin-left:5%;height:80px;" type="text" size="95;" maxlength="150" value="que estas pensando?"
            name="nombre"></input>
          <a href="#" class="button post">
            <i></i>
          </a>
        </div>
        <div id="divImagenes " >
        </div>

        <div class="videos col-md-4">
          <iframe class="vd" width="350" height="200" src="https://www.youtube.com/embed/juKsP0XejSI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>
      </div>
    </section>





    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <Script src="../js/app.js"></script>
      <Script src="../js/image.js"></Script>

  </body>

</html>